<template>
	<b-col sm="2">
		<b-form-input v-model="search"
                type="text"
                size = "sm"
                @change="addSearch"
                placeholder="Search by codigo"
                class="mb-3">
  	</b-form-input>
	</b-col>
</template>
<script>
export default {
  name: 'filterTable',
  data() {
    return {
    	search: ''
    }
  },
  methods: {
  	addSearch($event) {
  		this.$emit('eventSearch',(this.search == ''?'':'&' + this.field + '=' + this.search))
  	}
  },
  props: {
    field:{
      required: true,
      default: ''
    }
  }
}
</script>
<style></style>