<template>
	<b-form inline>
		<filterTable @eventSearch="searchTable" :field="'codigo'"></filterTable>
		<filterSelectTable @eventSearch="searchTable" :field="'codigo'" :options='options'></filterSelectTable>
	</b-form>
</template>
<script>
import FilterTable from './FilterTable.vue'
import FilterSelectTable from './FilterSelectTable.vue'
import Data from './../../services/data.js'
export default {
  name: 'form-table',
  data() {
    return {
    	search: '',
    	text_alert: ''
    }
  },
  components: {
  	FilterTable,
    FilterSelectTable
  },
  computed: {
  	options() {
  	  return [
  	  	{value:'' , text:'Select by codigo'},
  	  	{value:'780927' , text:'780927'},
  	  	{value:'780928' , text:'780928'},
  	  	{value:'780929' , text:'780929'},
  	  ]
  	}
  },
  methods: {
  	searchTable (value) {
      this.search = value
      Data.list(1,value).then(data => {
      	this.text_alert = 'Sem informações...',
      	this.$store.dispatch('alterItens', data.data.list)
      }).catch(e => {
      	this.errors.push(e)
     })
    }
  }
}
</script>
<style></style>